/* general styling */
html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 2rem;
    font-size: larger;
    letter-spacing: 0.1rem;
}
body {
    margin:0;
    min-height: 100%;
}


.material-symbols-outlined {
    font-size: 60px !important;
    font-variation-settings:'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    display: inline-block;
    width: 4%;
    vertical-align: middle;
    margin-right: 10px;
}


/* ------------------------------------------------ */

/* navigation bar styling */
.navbar {
    background-color: rgb(221, 221, 221);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: solid 2px rgb(0, 0, 0);
    outline: 8px solid rgb(240, 240, 0);
    box-shadow: 0px 9.8px rgb(0, 0, 0);
    z-index: 99;
}
.navbar a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-weight: 550;
    font-size: 185%;
}
#top_left_brainstorm {
    font-family: 'Comic Sans MS';
    margin-top: -0.2rem;
}
#navbar_logo {
    position: relative;
    float: right;
    width: 172px;
    margin: 1px 15px 0px 0px;
    padding: 0px;
}
#navbar_logo img {
    width: 100%;
}

#navbar_extra a:hover {
    background: rgba(60, 60, 60, 0.3);
}
a.active {
    background: rgba(60, 60, 60, 0.3)
}

/* extra navigation buttons on the right side 
and remove when screen too small (mobile) 
hamburger menu only visible on mobile */
#navbar_extra {
    float: right;
}
.mobile_nav {
    display: none;
}

@media only screen and (max-width: 1250px) {
    .navbar {
        display: none;
    }

    /* hamburger styling */
    .mobile_nav {
        display: block;
        z-index: 999;
        background-color: rgb(221, 221, 221);
        position: fixed;
        top: 0;
        width: 100%;
        height: 110px;
        border-bottom: solid 2px rgb(0, 0, 0);
        outline: 8px solid rgb(240, 240, 0);
        box-shadow: 0px 9.8px rgb(0, 0, 0);
    }
    .mobile_nav #mobile_brainstorm {
        color: rgb(0, 0, 0);
        font-family: 'Comic Sans MS';
        padding: 20px 10px 10px 10px;
        text-decoration: none;
        font-size: 400%;
        font-weight: 700;
    }
    #non_clicked {
        display: inline-block;
    }
    #is_clicked {
        display: none;
    }
    .mobile_nav img {
        float: right;
        width: 250px;
    }

    .hamburger #buger_links {
        display: none;
        position: fixed;
        text-align: right;
        font-weight: 550;
        width: 70%;
        right: 0px;
        top: 120px;
        background-color: rgb(210, 210, 210);
        padding: 50px 0px 0px;
        border: solid rgb(0, 0, 0);
        border-width: 2px 0px 2px 2px;
    }
    .hamburger a {
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        text-decoration: none;
        font-size: 350%;
        display: block;
        z-index: 9999;
    }
    .hamburger a.icon {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
    }
    .hamburger #buger_links a:hover {
        background: rgba(60, 60, 60, 0.3);
    }
    .hamburger #buger_links a:active {
        background: none;
    }

}

/* ------------------------------------------------ */

/* header styling */
header {
    display: inline-block;
    width: 100%;
}
.header_text {
    background-color: rgba(210, 210, 210, 0.6);
    letter-spacing : 1px;
    padding: 1rem;
    text-shadow: 1px 1px 0.5px rgb(255, 255, 255), 
    -0.5px -0.5px rgb(255, 255, 255),
    0.5px -0.5px rgb(255, 255, 255),
    -0.5px 0.5px rgb(255, 255, 255);
    font-style: italic;
    font-variant: small-caps;
}
#header_text_1 {
    font-size: 4.5rem;
    border-radius: 0px 8px 8px 0px;
    float: left;
    position: relative;
    top: 1.5em;
}
#header_text_2 {
    font-size: 3.5rem;
    text-align: right;
    border-radius: 8px 0px 0px 8px;
    float: right;
    position: relative;
    top: 11em;
}

/* ------------------------------------------------ */

/* main general styling */
main {
    background-color: rgb(250, 250, 250);
    border: solid rgb(80, 80, 80);
    border-width: 0.0001px 0px 0px 0px;
    position: relative;
    top: 40rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
}
.text_section {
    margin: 1rem;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgba(80, 80, 80, 0.1);
    padding: 4px 16px 4px 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 140%;
    font-size: large;
}
@media only screen and (min-width: 1400px) {
    .text_section {
       margin: 1rem 10rem;
    }
}

/* to make sure hyperlinks align properly 
    for regular and mobile site */
.anchor{
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}
@media only screen and (max-width: 1250px) {
    .anchor{
        height: 120px;
        margin-top: -120px;
    }
}

/* main element styling */
h2 {
    text-align: center;
    font-variant: small-caps;
    font-size: 3rem;
    font-style: italic;
    color: rgb(250, 250, 250);
    background-color: rgb(100, 100, 100);
    border: solid rgb(80, 80, 80);
    border-width: 8px 0px;
    padding: 1rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
    margin: 0px;
}
h3 {
    font-size: 2rem;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0rem 0.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.05rem;
    line-height: 120%;
}
.text_section p {
    text-align: justify;
    font-size: 1.2rem;
    padding: 0.5rem;
}
address a {
    text-decoration: none;
}
address p {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}
ul {
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 1rem;
}
li {
    line-height: 120%;
    margin-bottom: 1rem;
}
table {
    width: 100%;
    margin: 1rem auto;
    font-size: 1.8rem;
}
table td, table th {
    border: 1px solid rgba(210, 210, 210, 0.6);
    padding: 0.6rem;
}
table tr:nth-child(even) {background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
    padding: 0.7rem 0.5rem;
    text-align: left;
    background-color: rgba(200, 200, 0, 0.3);
    color: rgb(0, 0, 0);
}

iframe {
    border: solid 1px rgba(80, 80, 80, 0.3);
    margin-bottom: 1rem auto;
    width: 100%;
    height: 40rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------ */

/* footer styling */
#footer {
    clear: both;
    width: 100%;
    background-color: rgb(221, 221, 221);
}
#footer p {
    padding: 20px;
    text-align: center;
}
#footer a {
    text-decoration: none;
}