/* general styling */
html {
    font-family: 'Open Sans Semibold', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 0.1rem;
}
body {
    margin:0;
    min-height: 100%;
}

/* ------------------------------------------------ */

/* navigation bar styling */
.navbar {
    overflow: visible;
    background-color: rgb(221, 221, 221);
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    border-bottom: solid 2px rgb(0, 0, 0);
    outline: 8px solid rgb(240, 240, 0);
    box-shadow: 0px 10px rgb(0, 0, 0);
    z-index: 99;
}
.navbar a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-weight: 550;
    font-size: x-large;
}
#top_left_brainstorm {
    font-family: 'Comic Sans MS';
    margin-top: -4px;
}
#navbar_logo {
    position: absolute;
    left: calc((100% - 400px) / 2);
    width: 120px;
    margin: 2px;
}
.navbar a:hover {
    background: rgba(40, 40, 40, 0.5);
    /* color: rgb(0, 0, 0); */
}
/* extra navigation buttons on the right side 
and remove when screen too small (mobile) */
#navbar_extra {
    float: right;
}
@media only screen and (max-width: 1200px) {
    #navbar_extra {
        display: none;
    }
    #navbar_logo {
        left: 82%
    }
}

/* ------------------------------------------------ */

/* header styling */
header {
    display: inline-block;
    width: 100%;
}
.header_text {
    background-color: rgba(210, 210, 210, 0.6);
    letter-spacing : 1px;
    padding: 1rem;
    text-shadow: 1px 1px 0.5px rgb(255, 255, 255), 
    -0.5px -0.5px rgb(255, 255, 255),
    0.5px -0.5px rgb(255, 255, 255),
    -0.5px 0.5px rgb(255, 255, 255);
    font-family: 'Open Sans Semibold' sans-serif;
    font-style: italic;
}
#header_text_1 {
    font-size: 5rem;
    border-radius: 0px 8px 8px 0px;
    float: left;
    position: relative;
    top: 1em;
}
#header_text_2 {
    font-size: 4rem;
    text-align: right;
    border-radius: 8px 0px 0px 8px;
    float: right;
    position: relative;
    top: 10em;
}

/* ------------------------------------------------ */

/* main general styling */
main {
    background-color: rgb(250, 250, 250);
    border: solid rgb(80, 80, 80);
    border-width: 2px 0px 0px 0px;
    position: relative;
    top: 40rem;
    padding: 1rem 0rem 0rem 0rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
}
.text_section {
    margin: 1rem 2rem;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgba(80, 80, 80, 0.2);
    padding: 4px 16px 4px 16px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    line-height: 140%;
    font-size: large;
}
@media only screen and (min-width: 1600px) {
    .text_section {
       margin: 1rem 10rem;
    }
  }

/* to make sure hyperlinks align properly */
.anchor{
    display:block;
    height:44px;
    margin-top:-44px;
    visibility:hidden;
 }

/* main element styling */
h2 {
    text-align: left;
    font-size: 2rem;
    background-color: rgba(210, 210, 210, 0.6);
    padding: 1.5rem 1.2rem;
    border-radius: 5px;
    margin: 1rem 0rem;
    line-height: 120%;
}
h3 {
    text-align: left;
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem 0rem;
    line-height: 120%;
    padding: 0.5rem;
}
.text_section p {
    font-size: 1.2rem;
    padding: 0.5rem;
}
.text_section ul {
    font-size: 1.2rem;
}
address , ul{
    text-align: left;
}
address a {
    text-decoration: none;
}
ul {
    line-height: 180%;
}
table {
    width: 100%;
    margin: 1rem auto;
    font-size: 1.8rem;
}
table td, table th {
    border: 1px solid rgba(210, 210, 210, 0.6);
    padding: 0.6rem;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
    padding: 0.7rem 0.5rem;
    text-align: left;
    background-color: rgba(200, 200, 0, 0.3);
    color: rgb(0, 0, 0);
  }

iframe {
    border: solid 1px rgba(80, 80, 80, 0.3);
    margin-bottom: 1rem auto;
    width: 100%;
    height: 40rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------ */

/* footer styling */
#footer {
    clear: both;
    width: 100%;
    background-color: rgb(221, 221, 221);
}
#footer p {
    padding: 6px;
    text-align: center;
}
#footer a {
    text-decoration: none;
}